header > ul.nav-menu{

     width: 90vw;
     display: flex;
     justify-content: space-around;
     list-style-type: none;

}

li {

   display: flex;
   justify-content: center;
}

.content{
    position: absolute;
}

#testo{
    position: relative;
    left: 5px;
}