*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 100vw;
    display: flex;
    justify-content: center;
}

header > ul.nav-menu{

     width: 90vw;
     display: flex;
     justify-content: space-around;
     list-style-type: none;

}

li {

   display: flex;
   justify-content: center;
   padding: 0 auto;
}

.content{
    position: absolute;
    height: 20vh;
}

#testo{
    position: relative;
    left: 5px;
}

footer{
    margin: 30px 0 0 0;
    
}